.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav .dropdown{
  margin-right:380px;
}
nav .nav-link{
  color:#000;
}
nav .btn{
  margin-left:20px;
  padding:4px 21px;
  border:1px solid #000;
  border-radius:4px;
}
nav .btn:hover{
  color:#fff;
  background-color:#52bc01;
  border:1px solid #69cc1e!important;
}
nav .navbar{
  padding-top:30px;
}
.promo-box{
  background-color: #f3f9ff;
  height: 700px;
  width:100%;
  padding-top:91px;
}
.promo-img{
  background: url('./components/images/header-promo.svg');
  padding-top:40px;
  margin-top:40px;
  margin-bottom: auto;
  margin-left:-100px;
  margin-right: auto;
  height:400px;
}
.promo-img p{
  color:#333c4e;
  font-weight: 500;
  margin-left:60px;
  margin-right:auto;
  text-align: left;
  font-size:45px;
  line-height:1.0;
}
.promo-box p span{
  font-size:17px;
  margin-left:0px;
  font-weight: 400;
}
.promo-box .address{
  position: absolute;
  height: 12px;
  margin-top: 13px;
  opacity: 0.5;
  margin-left: 12px;
}

.promo-box form{
width: 100%;
border: 1px solid #f2f2f2;
margin: 0 45px;
padding: 30px 25px;
background-color:#fff;
box-shadow: 0 14px 20px 0 #9fb0ce;
}
.promo-box input{
   margin:30px auto;
   padding-left:30px;
}
.promo-box .btn{
  background-color:#52bc01;
  border:1px solid #50a310;
  display:block;
  width: 100%;
}
.promo-box span{
  font-weight: 700;
}
.promo-box h6{
  color:#000;
  width:100%;
  padding-top: 30px;
  opacity: 0.6;
  display:block;
}
.card-section {
  margin:50px auto;
}
.card-section .card-item{
  display: flex;
  margin-left:18%;
}
.card-section .sub-card{
  height: 220px;
  width:270px;
  text-align: center;
  border:1px solid rgb(247, 237, 237);
  box-shadow:0 14px 20px 0 #f1f1f1; 
  padding:30px;
  margin-left: 30px;
}
.card-section .content{
  display: flex;
}
.card-section .content .icon{
  font-size:30px;
  color:rgb(137, 183, 235);
  padding-right:10px;
  padding-top:10px;
}
.card-section .content span{
  font-weight:700!important;
  font-size:32px;
}
.card-section p{
  text-align: center;
  font-size: 20px;
  /* padding:20px 30px 0px 30px; */
  padding-top:10px;
}
.card-section .content p .a{
  color:rgb(69, 69, 148);
  text-decoration: none!important;
  font-size:20px;
}
.delivery-option .delivery-items{
  display: flex;
  margin-left:50%;
}
.delivery-option .delivery-items .d-man{
  background:url('./components/images/d-boy.png');
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
}
.delivery-option .delivery-items .d-man{
  background:url('./components/images/d-boy.png');
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
}
.delivery-option .delivery-items .d-bag{
  background:url('./components/images/d-bag.png');
  background-repeat: no-repeat;
  height: 180px;
  margin-left:30px;
  width: 100%;
}
.delivery-option .delivery-items .d-bike{
  background:url('./components/images/d-bike.png');
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
}

.download{
  background-color:#f3f9ff;
  padding:30px;
  margin-top:20px;
}
.download h2, p{
  text-align: left;
}
.download .scan-img{
  background: url('./components/images/scan-img.png');
  height:450px;
  background-repeat: no-repeat;
  width:350px;
}
.download .store{
  margin-left:-69px;
}
.download .store ul{
  text-decoration: none;
  list-style-type:none;
}
.download .store .store-one{
   background: url("./components/images/appstore.svg");
   height: 70px;
   width:200px;
   background-repeat: no-repeat;
}
/* .download .box{
  padding:10px;
  background-color:#fff;
} */
.download .store .store-two{
  background: url("./components/images/playstore.svg");
  background-repeat: no-repeat;
  height: 70px;
  width:200px;
}
.download .store .store-three{
  background: url("./components/images/appgallery.svg");
  height: 70px;
  width:200px;
  background-repeat: no-repeat;
}
.download .mobile{
  background: url("./components/images/appgallery.svg"); 
  background-repeat: no-repeat;
  height:200px; 
  position: absolute;
  width:100%;
}
.layout-section{
  margin-top:30px;
  color:#000;
  opacity: 0.7;
}
.layout-section .text{
  margin-left:20px;
  margin-right:auto;
  width:90%;
  padding-top: 20px;
}
.layout-section p{
  width:80%;
  font-size:20px;
}
.layout-section .icon{
  background-color: #f3f9ff;
  padding:11px;
  border-radius:15px;
  font-size:40px;
  margin-top:10px;
  margin-bottom:auto;
}
hr{
  margin:20px auto;
}
.wefast-info{
  margin-top:30px;
  width:50%;
  margin-left:26%;
}
.wefast-info p{
  padding-top:20px;
}
.wefast-info .btn{
  width: 45%;
  display: block;
  margin: auto;
  background-color: #4bc04e;
  font-size:20px;
  border:1px solid #4bc04e;
}
.wefast-info .btn :hover{
  background-color: #51c255!important;
}
.f-data{
  margin-top:50px;
}
.f-data img{
  margin-left:-60px;
}
.f-data ul {
  list-style-type: none;
}
.f-data ul li{
  padding-top:10px;
  text-align: left;
}
.f-data a{
  color:#4bc04e;
}
.f-data a:hover{
  color:#50a310;
}
.f-data .play-store .app-store{
  background: url("./components/images/appstore.svg");
  background-repeat: no-repeat;
  height: 70px;
  margin-top:20px;
  width:200px;
}
.f-data .play-store .play-store{
  background: url("./components/images/playstore.svg");
  background-repeat: no-repeat;
  height: 70px;
  width:200px;
}
.f-data .play-store .app-gallery{
  background: url("./components/images/appgallery.svg");
  background-repeat: no-repeat;
  height: 70px;
  width:200px;
}
.social-section{
  background-color:#9fb0ce;
  height: 100px;
  width:100%;
}
.social-section .s-icon .icon{
  font-size:30px;
  padding:30px 10px 0px 10px;
}
.social-section  p{
  text-align: center;
  padding-top:15px;
}




@media only screen and (max-width: 600px) and (min-width: 400px) {
  .navbar .map-marker{
    margin-left: -164px;
    padding-top: 9px;
   }
  .promo-box p{
    font-size: 33px;
    margin-top:-141px;
    margin-right:auto;
    margin-bottom:auto;
    margin-left: 108px;
    text-align: center;
  }
  .promo-box button{
    display: none;
  }
  .promo-box form{
    width:65%;
    margin:0px 125px;
  }
  .card-section .card-item{
    margin-left:18%;
    margin-right:auto;
    display: block;
  }
  .card-section .sub-card{
    margin-top:40px;
    margin-bottom: auto;
    margin-left:0px;
    margin-right:auto;
  }
  .download h2, p{
    text-align:center;  
 }
 .download .scan-img{
   align-items:center;
   margin-left: 52px;
   margin-right: auto;
   margin-top:auto;
   margin-bottom:-230px;
 }
 .download .store{
   margin-left:49px;
   margin-right:auto;
   margin-top:0px;
   margin-bottom:0px;
 }
.layout-section p{
  font-size:15px;
  text-align: left;
  padding-left:10px;
 }
 .wefast-info{
   width:90%;
   padding:0px 20px;
   font-size: 15px;
   margin-left:0px;
   margin-right: auto;
 }
 .wefast-info h2{
   text-align: center;
 }
.wefast-info p{
  text-align: left!important;
 }
 .wefast-info .btn{
  width: 100%;
  margin:auto;
  display: block;
 }
.f-data ul li{
  text-align: center;
}
.f-data .play-store{
  text-align: center;
  /* margin-left:20%; */
}
}
